@model MDMS.Web.ViewModels.Repair.Home.RepairActiveHomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="hero-text">
        <h1 style="font-size:150px" class="font-weight-bold text-bordered">M.D.M.S.</h1>
        <h3 style="font-size:75px" class="font-weight-bold text-bordered">Maintenance Department Management Service</h3>
    </div>

}
else if (this.User.Identity.IsAuthenticated && (this.User.IsInRole("User") || this.User.IsInRole("Admin")))
{
    if (Model.ExternalRepairActiveHomeViewModels.Count == 0)
    {
        <div class="d-flex justify-content-between">
            <h3 style="font-size: 30px" class="font-weight-bold text-bordered"><ins>No vehicles on External Repairs</ins></h3>
            <h3 style="font-size: 30px" class="font-weight-bold text-bordered"><ins>Hello @User.Identity.Name !</ins></h3>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-between">
            <h3 style="font-size: 30px" class="font-weight-bold text-bordered"><ins> Current vehicles on External repairs are:</ins></h3>
            <h3 style="font-size: 30px" class="font-weight-bold text-bordered"><ins>Hello @User.Identity.Name !</ins></h3>
        </div>
        <div id="products" class="mt-1">
            @for (int i = 0; i < Model.ExternalRepairActiveHomeViewModels.Count; i += 5)
            {
                <div class="row d-flex justify-content-around my-2">
                    @for (int j = i; j < i + 5; j++)
                    {
                        if (j < Model.ExternalRepairActiveHomeViewModels.Count)
                        {
                            <div class="col-md-2">
                                <div class="image-holder d-flex justify-content-center">
                                    <a href="/Repair/ExternalDetails?name=@Model.ExternalRepairActiveHomeViewModels[j].Name">
                                        <img class="img-thumbnail product-image" src="@Model.ExternalRepairActiveHomeViewModels[j].VehiclePicture" alt="...">
                                    </a>
                                </div>
                                <h5 class="text-primary bg-white rounded border-dark text-center mt-1">
                                    @Model.ExternalRepairActiveHomeViewModels[j].VehicleMake @Model.ExternalRepairActiveHomeViewModels[j].VehicleModel
                                </h5>
                                <h5 class="text-primary bg-white rounded border-dark text-center mt-0">Mechanic: @Model.ExternalRepairActiveHomeViewModels[j].MdmsUserUsername</h5>
                                <h5 class="text-primary bg-white rounded border-dark text-center mt-0">Repairing: @Model.ExternalRepairActiveHomeViewModels[j].RepairedSystemName</h5>
                                <h5 class="text-primary bg-white rounded border-dark text-center mt-0">Started on: @Model.ExternalRepairActiveHomeViewModels[j].StartedOn.ToString("d")</h5>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-2 empty">
                            </div>
                        }
                    }
                </div>
            }
        </div>
    }
    <hr class="hr-2 bg-primary">
    if (Model.InternalRepairActiveHomeViewModels.Count == 0)
    {
        <div class="d-flex justify-content-between">
            <h3 style="font-size: 30px" class="font-weight-bold text-bordered"><ins>No vehicles on Internal Repairs</ins> </h3>
        </div>
    }
    else
    {
        <div id="products" class="mt-1">
            @for (int i = 0; i < Model.InternalRepairActiveHomeViewModels.Count; i += 5)
            {
                <div class="d-flex justify-content-between">
                    <h3 style="font-size: 30px" class="font-weight-bold text-bordered"><ins>Current vehicles on Internal repairs are:</ins></h3>
                </div>
                <div class="row d-flex justify-content-around my-2">
                    @for (int j = i; j < i + 5; j++)
                    {
                        if (j < Model.InternalRepairActiveHomeViewModels.Count)
                        {
                            <div class="col-md-2">
                                <div class="image-holder d-flex justify-content-center">
                                    <a href="/Repair/InternalDetails?name=@Model.InternalRepairActiveHomeViewModels[j].Name">
                                        <img class="img-thumbnail product-image" src="@Model.InternalRepairActiveHomeViewModels[j].VehiclePicture" alt="...">
                                    </a>
                                </div>
                                <h5 class="text-primary bg-white rounded border-dark text-center mt-1">@Model.InternalRepairActiveHomeViewModels[j].VehicleMake @Model.InternalRepairActiveHomeViewModels[j].VehicleModel</h5>
                                <h5 class="text-primary bg-white rounded border-dark text-center mt-0">Mechanic: @Model.InternalRepairActiveHomeViewModels[j].MdmsUserUsername</h5>
                                <h5 class="text-primary bg-white rounded border-dark text-center mt-0">Repairing: @Model.InternalRepairActiveHomeViewModels[j].RepairedSystemName</h5>
                                <h5 class="text-primary bg-white rounded border-dark text-center mt-0">Started on: @Model.InternalRepairActiveHomeViewModels[j].StartedOn.ToString("d")</h5>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-2 empty">
                            </div>
                        }
                    }
                </div>
            }
        </div>
    }
}
else
{
    <div class="jumbotron bg-primary mt-3 mb-3">
        <h1 class="font-weight-bold text-white">Hello @User.Identity.Name</h1>
        <hr class="bg-white hr-2" />
        <h3 class="text-white">You are not Authorized yet !</h3>
    </div>
}
