@model MDMS.Web.ViewModels.Vehicle.Details.VehicleDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-around row">
    <div id="product-image-and-navigation-holder" class="w-45">
        <div id="image-holder">
            <img src="@Model.Picture"
                 alt="..." class="img-thumbnail w-100" />
            <hr class="hr-2 bg-primary mt-4" />
            <div id="navigation-holder" class="mt-4 d-flex justify-content-around">
                @if (@Model.IsInRepair)
                {
                    <h3 class="text-center font-weight-bold  text-bordered">Vehicle is in Repair</h3>
                }
                else
                {

                    @if (this.User.IsInRole("Admin"))
                    {
                        <a href="/Administration/Repair/CreateExternal/@Model.Name" class="btn btn-primary text-white font-weight-bold">Initialize Repair</a>
                        <a href="/Administration/Vehicle/Edit/@Model.Name" class="btn btn-primary text-white font-weight-bold">Edit</a>
                        <button class="btn btn-primary text-white font-weight-bold" data-toggle="modal" data-target="#vehicleModal">Delete</button>
                    }
                    else
                    {
                        if (@Model.MDMSUserServiceModelIsRepairing)
                        {
                            <h3 class="text-center font-weight-bold  text-bordered">You have active repair.</h3>
                        }
                        else
                        {
                            <a href="/Repair/CreateInternal/@Model.Name" class="btn btn-primary text-white font-weight-bold">Initialize Repair</a>
                        }
                    }

                }
            </div>
            <hr class="hr-2 bg-primary mt-4" />
        </div>
    </div>
    <div id="vehicleInfoHolder" class="w-45 rounded border-primary-4 bg-white">
        <hr class="hr-2 bg-primary mt-4 w-50" />
        @if (@Model.RegistrationNumber != null)
        {
            <h3 class="text-center">Registration number: @Model.RegistrationNumber</h3>
        }
        <h3 class="text-center">VSN: @Model.VSN</h3>
        <h3 class="text-center">Mileage: @Model.Mileage</h3>
        <hr class="hr-2 bg-primary mt-4 w-50" />
        <h3 class="text-center">Type: @Model.VehicleTypeName</h3>
        <h3 class="text-center">Make: @Model.Make</h3>
        <h3 class="text-center">Model: @Model.Model</h3>
        <hr class="hr-2 bg-primary mt-4" />
        <h3 class="text-center">Price: $@Model.Price.ToString("F2")</h3>
        <h3 class="text-center">Depreciation: $@Model.Depreciation.ToString("F2")</h3>
        <hr class="hr-2 bg-primary mt-4 w-50" />
        <h3 class="text-center">Manufactured On: @Model.ManufacturedOn.ToString("dd/MM/yyyy")</h3>
        <h3 class="text-center">Acquired On: @Model.AcquiredOn.ToString("dd/MM/yyyy")</h3>
        <h3 class="text-center">Acquired By: @Model.VehicleProviderName</h3>
        <hr class="hr-2 bg-primary mt-4" />
        <h3 class="text-center">Repairs</h3>
        <div id="repair-navigation-holder" class="mt-4 d-flex justify-content-around">
            <button class="btn btn-primary font-weight-bold" onclick="ShowExternalRepairs()">External Repairs</button>
            <button class="btn btn-primary font-weight-bold" onclick="ShowInternalRepairs()">Internal Repairs</button>
        </div>
        <hr class="hr-2 bg-primary mt-4 w-50" />
    </div>
    <div id="vehicleInternalRepairs" class="w-45 rounded border-primary-4 bg-white">
        <h3 class="text-center mt-3">Internal Repairs</h3>
        <hr class="hr-2 bg-primary mt-2 w-50" />
        @if (@Model.InternalRepairs.Count <= 0)
        {
            <h3 class="text-center">Vehicle Has No Internal repairs yet.</h3>
        }
        else
        {
            <table class="table table-sm table-hover bg-white">
                <thead>
                    <tr class="row">
                        <th scope="col" class="col-md-1 text-primary text-center">#</th>
                        <th scope="col" class="col-md-9 text-primary text-center">Name</th>
                        <th scope="col" class="col-md-2 text-primary text-center">Details</th>

                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < @Model.InternalRepairs.Count; i++)
                    {
                        <tr class="row">
                            <td class="col-md-1 text-primary text-center">@(i + 1)</td>
                            <td class="col-md-9 text-primary text-center">@Model.InternalRepairs[i].Name</td>
                            <td class="col-md-2 text-primary text-center"><a href="/Repair/InternalDetails?name=@Model.InternalRepairs[i].Name.Replace(" ","_")">Details</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    <hr class="hr-2 bg-primary mt-2" />
        <div id="repair-navigation-holder" class="mt-4 d-flex justify-content-around">
            <button class="btn btn-primary font-weight-bold" onclick="ShowVehicleInfoHolder()">Vehicle Info</button>
            <button class="btn btn-primary font-weight-bold" onclick="ShowExternalRepairs()">External Repairs</button>
        </div>
        <hr class="hr-2 bg-primary mt-4 w-50" />
    </div>
    <div id="vehicleExternalRepairs" class="w-45 rounded border-primary-4 bg-white">
        <h3 class="text-center mt-3">External Repairs</h3>
        <hr class="hr-2 bg-primary mt-2 w-50" />
        @if (@Model.ExternalRepairs.Count <= 0)
        {
            <h3 class="text-center">Vehicle Has No External repairs yet.</h3>
        }
        else
        {
            <table class="table table-sm table-hover bg-white">
                <thead>
                <tr class="row">
                    <th scope="col" class="col-md-1 text-primary text-center">#</th>
                    <th scope="col" class="col-md-9 text-primary text-center">Name</th>
                    <th scope="col" class="col-md-2 text-primary text-center">Details</th>

                </tr>
                </thead>
                <tbody>

                @for (int i = 0; i < @Model.ExternalRepairs.Count; i++)
                {
                    <tr class="row">
                        <td class="col-md-1 text-primary text-center">@(i + 1)</td>
                        <td class="col-md-9 text-primary text-center">@Model.ExternalRepairs[i].Name</td>
                        <td class="col-md-2 text-primary text-center"><a href="/Repair/ExternalDetails?name=@Model.ExternalRepairs[i].Name.Replace(" ","_")">Details</a></td>
                    </tr>
                }
                </tbody>
            </table>
        }
        <hr class="hr-2 bg-primary mt-2" />
        <div id="repair-navigation-holder" class="mt-4 d-flex justify-content-around">
            <button class="btn btn-primary font-weight-bold" onclick="ShowVehicleInfoHolder()">Vehicle Info</button>
            <button class="btn btn-primary font-weight-bold" onclick="ShowInternalRepairs()">Internal Repairs</button>
        </div>
        <hr class="hr-2 bg-primary mt-4 w-50" />
    </div>
</div>

<script>
    $('#vehicleInternalRepairs').hide();
    $('#vehicleExternalRepairs').hide();
</script>

<div class="modal fade" id="vehicleModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">Vehicle - @Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="text-danger text-center">Vehicle will be DELETED PERMANENTLY</h5>
                <h5 class="text-danger text-center">Do you with to proceed ?</h5>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <a href="/Administration/Vehicle/Delete?id=@Model.Id" class="btn btn-primary font-weight-bold" id="deleteVehicle">DELETE Vehicle</a>
            </div>
        </div>
    </div>
</div>

