@model MDMS.Web.ViewModels.Vehicle.Details.VehicleDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-around row">
    <div id="product-image-and-navigation-holder" class="w-45">
        <div id="image-holder">
            <img src="@Model.Picture"
                 alt="..." class="img-thumbnail w-100" />
            <hr class="hr-2 bg-primary mt-4" />
            <div id="navigation-holder" class="mt-4 d-flex justify-content-around">
                @if (@Model.IsInRepair)
                {
                    <h3 class="text-center font-weight-bold  text-bordered">Vehicle is in Repair</h3>
                }
                else
                {

                    @if (this.User.IsInRole("Admin"))
                    {
                        <a href="/Administration/Repair/CreateExternal/@Model.Name" class="btn btn-primary text-white font-weight-bold">Initialize Repair</a>
                        <a href="/Administration/Vehicle/Edit/@Model.Name" class="btn btn-primary text-white font-weight-bold">Edit</a>
                        <a href="/Administration/Vehicle/Delete/@Model.Name" class="btn btn-primary text-white font-weight-bold">Delete</a>
                    }
                    else
                    {
                        if (@Model.MDMSUserServiceModelIsRepairing)
                        {
                            <h3 class="text-center font-weight-bold  text-bordered">You have active repair.</h3>
                        }
                        else
                        {
                            <a href="/Repair/CreateInternal/@Model.Name" class="btn btn-primary text-white font-weight-bold">Initialize Repair</a>
                        }
                    }

                }
            </div>
            <hr class="hr-2 bg-primary mt-4" />
        </div>
    </div>
    <div id="product-data-holder" class="w-45 rounded border-primary-4 bg-white">
        <hr class="hr-2 bg-primary mt-4 w-50" />
        @if (@Model.RegistrationNumber != null)
        {
            <h3 class="text-center">Registration number: @Model.RegistrationNumber</h3>
        }
        <h3 class="text-center">VSN: @Model.VSN</h3>
        <h3 class="text-center">Mileage: @Model.Mileage</h3>
        <hr class="hr-2 bg-primary mt-4 w-50" />
        <h3 class="text-center">Type: @Model.VehicleTypeName</h3>
        <h3 class="text-center">Make: @Model.Make</h3>
        <h3 class="text-center">Model: @Model.Model</h3>
        <hr class="hr-2 bg-primary mt-4" />
        <h3 class="text-center">Price: $@Model.Price.ToString("F2")</h3>
        <h3 class="text-center">Depreciation: $@Model.Depreciation.ToString("F2")</h3>
        <hr class="hr-2 bg-primary mt-4 w-50" />
        <h3 class="text-center">Manufactured On: @Model.ManufacturedOn.ToString("dd/MM/yyyy")</h3>
        <h3 class="text-center">Acquired On: @Model.AcquiredOn.ToString("dd/MM/yyyy")</h3>
        <h3 class="text-center">Acquired By: @Model.VehicleProviderName</h3>
        <hr class="hr-2 bg-primary mt-4" />
        <h3 class="text-center">Repairs</h3>
        <div id="repair-navigation-holder" class="mt-4 d-flex justify-content-around">
            <a href="/Vehicle/ExternalRepairs/@Model.Name" class="btn btn-primary text-white font-weight-bold">External Repairs</a>
            <a href="/Vehicle/InternalRepairs/@Model.Name" class="btn btn-primary text-white font-weight-bold">Internal Repairs</a>
        </div>
        <hr class="hr-2 bg-primary mt-4 w-50" />
    </div>
</div>


<button class="btn btn-primary text-white font-weight-bold" data-toggle="modal" data-target="#orderModal">Order</button>
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">Order - @Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="order-form" action="/Product/Order" method="post">
                    <div class="form-group">
                        <label for="quantity" class="col-form-label font-weight-bold">Quantity</label>
                        <input type="number" class="form-control" id="quantity" name="quantity">
                        <input type="hidden" value="@Model.Id" name="productId" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="complete-order-button">Complete</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#complete-order-button').click(function () {
        $('#order-form').submit();
    });
</script>