@model List<MDMS.Web.ViewModels.Part.All.PartAllViewModel>
@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-between">
    <div id="products-search-bar-holder" class="form-group d-flex justify-content-between w-50">
        <input type="text" class="form-control text-primary" id="products-search-bar" name="search" placeholder="Search..." />
    </div>
    <div id="sort-holder" class="form-group w-40 d-flex justify-content-between">
        <label for="sort" class="text-primary font-weight-bold w-30 h4 mt-1 text-bordered text-right">Order By: </label>
        <select id="sort" class="form-control text-primary pl-2 ml-3 w-70">
            <option value="none" selected>None</option>
            <option value="none">Price (lowest to highest)</option>
            <option value="none">Price (highest to lowest)</option>
            <option value="none">Date of Manufacturing (oldest to newest)</option>
            <option value="none">Date of Manufacturing (newest to oldest)</option>
        </select>
    </div>
</div>
<hr class="hr-2 bg-primary">
<div id="products" class="mt-3">
    <table class="table table-sm table-hover bg-white">
        <thead>
            <tr class="row">
                <th scope="col" class="col-lg-1 text-primary text-center">#</th>
                <th scope="col" class="col-lg-2 text-primary text-center">Name</th>
                <th scope="col" class="col-lg-2 text-primary text-center">Acquired From</th>
                <th scope="col" class="col-lg-1 text-primary text-right">Price</th>
                <th scope="col" class="col-lg-1 text-primary text-right">Used</th>
                <th scope="col" class="col-lg-1 text-primary text-right">Used Sum</th>
                <th scope="col" class="col-lg-1 text-primary text-right">Stock</th>
                <th scope="col" class="col-lg-1 text-primary text-right">Stock Sum</th>

                <th scope="col" class="col-lg-2 text-primary text-center">Details</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < @Model.Count; i++)
            {

            <tr class="product row">
                <td class="col-lg-1 text-primary text-center">@(i + 1)</td>
                <td class="col-lg-2 text-primary text-center">@Model[i].Name</td>
                <td class="col-lg-2 text-primary text-center">@Model[i].AcquiredFrom</td>
                <td class="col-lg-1 text-primary text-right">@Model[i].Price</td>
                <td class="col-lg-1 text-primary text-right">@Model[i].UsedCount</td>
                <td class="col-lg-1 text-primary text-right">@(Model[i].UsedCount * Model[i].Price)</td>
                <td class="col-lg-1 text-primary text-right">@Model[i].Stock</td>
                <td class="col-lg-1 text-primary text-right">@(Model[i].Stock * Model[i].Price)</td>
                <td class="col-lg-2 text-primary text-center">
                    <a href="/Part/Details?name=@Model[i].Name">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $('#products-search-bar').on("change paste keyup", function () {
        $('.product').show();

        let searchValue = $('#products-search-bar').val();

        for (let elem of $('.product')) {
            let productName = $($(elem).children()[1]).text();

            if (!productName.toLowerCase().includes(searchValue.toLowerCase())) {
                $(elem).hide();
            }
        }
    });
</script>



<script>
    $('#complete-order-button').click(function () {
        $('#order-form').submit();
    });
</script>