@model MDMS.Web.ViewModels.Repair.Details.InternalRepairDetailsViewModel
@{
    ViewData["Title"] = "InternalDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-around row">
    <div id="internalActiveRepair-data-holder" class="w-45 rounded border-primary-4 bg-white">
        @if (this.ViewData["error"] != null)
        {
            <ul>
                <li class="text-danger">@this.ViewData["error"]</li>
            </ul>
        }
        <h4 class="text-center">Internal Repair</h4>
        <hr class="hr-2 bg-primary mt-2 w-50" />
        <h4 class="text-center">Vehicle: @Model.VehicleMake @Model.VehicleModel</h4>
        <h4 class="text-center">VSN: @Model.VehicleVSN</h4>
        <h4 class="text-center">Mileage: @Model.Mileage</h4>
        <hr class="hr-2 bg-primary mt-2 w-50" />
        <h4 class="text-center">Mechanic: @Model.MdmsUserUsername</h4>
        <h4 class="text-center">Started on: @Model.StartedOn.ToString("d")</h4>
        @if (@Model.FinishedOn == null)
        {
            <h4 class="text-center">Finished on: Repair is Not finished yet.</h4>
        }
        else
        {
            <h4 class="text-center">Finished on: @Model.FinishedOn?.ToString("d")</h4>

        }
        <h4 class="text-center">Repaired System: @Model.RepairedSystemName</h4>
        <hr class="hr-2 bg-primary mt-2 w-50" />
        <h4 class="text-center">Description:</h4>
        <p class="w-75 text-center text-dark text-larger2 m-auto">@Model.Description</p>
        <hr class="hr-2 bg-primary mt-2 w-50" />
        <h4 class="text-center">Labor: @Model.HoursWorked h</h4>
        <h4 class="text-center">Repair Cost: $ @Model.RepairCost</h4>
        <hr class="hr-2 bg-primary mt-0 w-50" />
    </div>

    <div id="internalActiveRepairParts-data-holder" class="w-45 rounded border-primary-4 bg-white">
        <h3 class="text-center mt-2">Parts</h3>
        <hr class="hr-2 bg-primary mt-2 w-50" />
        <div id="repairs" class="mt-3">
            @if (@Model.InternalRepairParts.Count <= 0)
            {
                <h3 class="text-center">There are No Repairs yet.</h3>
            }
            else
            {
                <table class="table table-sm table-hover bg-white">
                    <thead>
                        <tr class="row">
                            <th scope="col" class="col-md-1 text-primary text-center">#</th>
                            <th scope="col" class="col-md-3 text-primary text-center">Name</th>
                            <th scope="col" class="col-md-3 text-primary text-center">Provider</th>
                            <th scope="col" class="col-md-2 text-primary text-center">Price</th>
                            <th scope="col" class="col-md-1 text-primary text-center">Quantity</th>
                            <th scope="col" class="col-md-2 text-primary text-center">Sum</th>

                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < @Model.InternalRepairParts.Count; i++)
                        {
                            <tr class="row">
                                <td class="col-md-1 text-primary text-center">@(i + 1)</td>
                                <td class="col-md-3 text-primary text-center">@Model.InternalRepairParts[i].PartName</td>
                                <td class="col-md-3 text-primary text-center">@Model.InternalRepairParts[i].PartAcquiredFromName</td>
                                <td class="col-md-2 text-primary text-center">$ @Model.InternalRepairParts[i].PartPrice</td>
                                <td class="col-md-1 text-primary text-center">@Model.InternalRepairParts[i].Quantity</td>
                                <td class="col-md-2 text-primary text-center">$ @(Model.InternalRepairParts[i].Quantity * Model.InternalRepairParts[i].PartPrice)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

</div>